<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="#/dashboard.html">
		<img src="assets/theme/layout2/img/techint_logo_white.png" alt="logo" class="logo-default img-responsive"/>
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">
		<!-- BEGIN HEADER VIEW TITLE -->
        <div class="page-title" style="display:inline;padding:0;margin:20px;float:left;">
            <!--Titulo Actual-->
        </div>
		<!-- END HEADER VIEW TITLE -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu" style="display:inline;">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
					<img alt="" class="img-circle" src="assets/theme/layout2/img/avatar.png"/>
					<span class="username username-hide-on-mobile">
					User Windows</span>
					<i class="fa fa-angle-down"></i>
					</a>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->
